In [1]:
import pylangacq as pla
import pandas as pd
import os

pd.options.display.max_columns = None

import warnings
warnings.filterwarnings("ignore")

In [2]:
url = '../../../data/talkbank/Rollins.zip'
rollins = pla.read_chat(url)
rollins.n_files() #how many chat files are present for this data

21

In [3]:
utterrances = rollins.utterances(by_files=True)

In [4]:
column_names = ['participant', 'sentence']
df = pd.DataFrame(columns=column_names)

for chat_file in utterrances:
    for utter in chat_file:
        participant = utter.participant
        participant_line = utter.tiers[participant]
        df = df.append({'participant':participant, 'sentence':participant_line}, ignore_index=True)

In [5]:
df

      participant                       sentence
0             CHI                          xxx .
1             INV               &=gasp . [+ trn]
2             INV                  it's a farm .
3             CHI                          xxx .
4             INV                  it's a farm .
...           ...                            ...
11015         INV                         push .
11016         INV                     wait Chi .
11017         INV                     Chi wait .
11018         CHI                            0 .
11019         INV  we needta go fix your juice .

[11020 rows x 2 columns]

In [6]:
rollins.info(verbose=True)

21 files
11020 utterances
32555 words
       Utterance Count    Word Count  File Path
---  -----------------  ------------  ------------------------
#1                 413           943  Rollins\Carl\020800.cha
#2                 902          2647  Rollins\Carl\021100.cha
#3                 300          1036  Rollins\Carl\030000.cha
#4                 422          1757  Rollins\Carl\030700.cha
#5                 356           746  Rollins\Josh\020500.cha
#6                 434          1103  Rollins\Josh\020800.cha
#7                 356          1081  Rollins\Josh\021100.cha
#8                 336          1343  Rollins\Josh\030100.cha
#9                 599          1908  Rollins\Mars\030100.cha
#10                757          2067  Rollins\Mars\030300.cha
#11                770          2483  Rollins\Mars\030600.cha
#12                738          2129  Rollins\Mars\030800.cha
#13               1018          2886  Rollins\Mars\031100.cha
#14                680          1706  Rollins\Roger\020600.cha
#15                129           354  Rollins\Roger\020800.cha
#16                391          1109  Rollins\Roger\021000.cha
#17                205           568  Rollins\Roger\030300.cha
#18                576          1627  Rollins\Sid\020200.cha
#19                463          1326  Rollins\Sid\021100.cha
#20                557          1344  Rollins\Sid\030200.cha
#21                618          2392  Rollins\Sid\030500.cha

In [7]:
rollins.headers()

[{'UTF8': '',
  'PID': '11312/c-00005925-1',
  'Languages': ['eng'],
  'Participants': {'CHI': {'name': 'Target_Child',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '2;08.',
    'sex': 'male',
    'group': '',
    'ses': '',
    'role': 'Target_Child',
    'education': '',
    'custom': ''},
   'INV': {'name': 'Investigator',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '',
    'sex': '',
    'group': '',
    'ses': '',
    'role': 'Investigator',
    'education': '',
    'custom': ''}},
  'Activities': 'washing hands/dry erase board',
  'Types': 'long, toyplay, ASD'},
 {'UTF8': '',
  'PID': '11312/c-00005930-1',
  'Languages': ['eng'],
  'Participants': {'CHI': {'name': 'Target_Child',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '2;11.',
    'sex': 'male',
    'group': '',
    'ses': '',
    'role': 'Target_Child',
    'education': '',
    'custom': ''},
   'INV': {'name': 'Investigator',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '',
    'sex': '',
    'group': '',
    'ses': '',
    'role': 'Investigator',
    'education': '',
    'custom': ''}},
  'Activities': 'puzzles/books',
  'Types': 'long, toyplay, ASD'},
 {'UTF8': '',
  'PID': '11312/c-00005935-1',
  'Languages': ['eng'],
  'Participants': {'CHI': {'name': 'Target_Child',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '3;',
    'sex': 'male',
    'group': '',
    'ses': '',
    'role': 'Target_Child',
    'education': '',
    'custom': ''},
   'INV': {'name': 'Investigator',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '',
    'sex': '',
    'group': '',
    'ses': '',
    'role': 'Investigator',
    'education': '',
    'custom': ''}},
  'Activities': 'puzzles',
  'Types': 'long, toyplay, ASD'},
 {'UTF8': '',
  'PID': '11312/c-00005940-1',
  'Window': '85_732_1053_940_-1_-1_47122_0_47122_0',
  'Languages': ['eng'],
  'Participants': {'CHI': {'name': 'Target_Child',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '3;07.',
    'sex': 'male',
    'group': '',
    'ses': '',
    'role': 'Target_Child',
    'education': '',
    'custom': ''},
   'INV': {'name': 'Investigator',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '',
    'sex': '',
    'group': '',
    'ses': '',
    'role': 'Investigator',
    'education': '',
    'custom': ''},
   'UID': {'name': 'Unidentified',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '',
    'sex': '',
    'group': '',
    'ses': '',
    'role': 'Unidentified',
    'education': '',
    'custom': ''}},
  'Activities': 'books',
  'Types': 'long, toyplay, ASD'},
 {'UTF8': '',
  'PID': '11312/c-00005926-1',
  'Languages': ['eng'],
  'Participants': {'CHI': {'name': 'Target_Child',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '2;05.',
    'sex': 'male',
    'group': '',
    'ses': '',
    'role': 'Target_Child',
    'education': '',
    'custom': ''},
   'INV': {'name': 'Investigator',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '',
    'sex': '',
    'group': '',
    'ses': '',
    'role': 'Investigator',
    'education': '',
    'custom': ''},
   'INV2': {'name': 'Camera_Operator',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '',
    'sex': '',
    'group': '',
    'ses': '',
    'role': 'Investigator',
    'education': '',
    'custom': ''}},
  'Activities': 'shut out cameraperson',
  'Types': 'long, toyplay, ASD'},
 {'UTF8': '',
  'PID': '11312/c-00005931-1',
  'Languages': ['eng'],
  'Participants': {'CHI': {'name': 'James',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '2;08.',
    'sex': 'male',
    'group': '',
    'ses': '',
    'role': 'Target_Child',
    'education': '',
    'custom': ''},
   'INV': {'name': 'Investigator',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '',
    'sex': '',
    'group': '',
    'ses': '',
    'role': 'Investigator',
    'education': '',
    'custom': ''}},
  'Activities': 'puzzle',
  'Types': 'long, toyplay, ASD'},
 {'UTF8': '',
  'PID': '11312/c-00005936-1',
  'Languages': ['eng'],
  'Participants': {'CHI': {'name': 'Target_Child',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '2;11.',
    'sex': 'male',
    'group': '',
    'ses': '',
    'role': 'Target_Child',
    'education': '',
    'custom': ''},
   'INV': {'name': 'Investigator',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '',
    'sex': '',
    'group': '',
    'ses': '',
    'role': 'Investigator',
    'education': '',
    'custom': ''}},
  'Activities': 'lego table/toys',
  'Types': 'long, toyplay, ASD'},
 {'UTF8': '',
  'PID': '11312/c-00005941-1',
  'Languages': ['eng'],
  'Participants': {'CHI': {'name': 'Target_Child',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '3;01.',
    'sex': 'male',
    'group': '',
    'ses': '',
    'role': 'Target_Child',
    'education': '',
    'custom': ''},
   'INV': {'name': 'Investigator',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '',
    'sex': '',
    'group': '',
    'ses': '',
    'role': 'Investigator',
    'education': '',
    'custom': ''}},
  'Activities': 'farm',
  'Types': 'long, toyplay, ASD'},
 {'UTF8': '',
  'PID': '11312/c-00005927-1',
  'Languages': ['eng'],
  'Participants': {'CHI': {'name': 'Target_Child',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '3;01.',
    'sex': 'male',
    'group': '',
    'ses': '',
    'role': 'Target_Child',
    'education': '',
    'custom': ''},
   'INV': {'name': 'Investigator',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '',
    'sex': '',
    'group': '',
    'ses': '',
    'role': 'Investigator',
    'education': '',
    'custom': ''},
   'INV2': {'name': 'Camera_Operator',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '',
    'sex': '',
    'group': '',
    'ses': '',
    'role': 'Investigator',
    'education': '',
    'custom': ''}},
  'Activities': 'water plants',
  'Types': 'long, toyplay, ASD'},
 {'UTF8': '',
  'PID': '11312/c-00005932-1',
  'Languages': ['eng'],
  'Participants': {'CHI': {'name': 'Target_Child',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '3;03.',
    'sex': 'male',
    'group': '',
    'ses': '',
    'role': 'Target_Child',
    'education': '',
    'custom': ''},
   'INV': {'name': 'Investigator',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '',
    'sex': '',
    'group': '',
    'ses': '',
    'role': 'Investigator',
    'education': '',
    'custom': ''},
   'INV2': {'name': 'Camera_Operator',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '',
    'sex': '',
    'group': '',
    'ses': '',
    'role': 'Investigator',
    'education': '',
    'custom': ''}},
  'Activities': "CHI's picture book",
  'Types': 'long, toyplay, ASD'},
 {'UTF8': '',
  'PID': '11312/c-00005937-1',
  'Languages': ['eng'],
  'Participants': {'CHI': {'name': 'Target_Child',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '3;06.',
    'sex': 'male',
    'group': '',
    'ses': '',
    'role': 'Target_Child',
    'education': '',
    'custom': ''},
   'INV': {'name': 'Investigator',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '',
    'sex': '',
    'group': '',
    'ses': '',
    'role': 'Investigator',
    'education': '',
    'custom': ''}},
  'Activities': 'book',
  'Types': 'long, toyplay, ASD'},
 {'UTF8': '',
  'PID': '11312/c-00005942-1',
  'Languages': ['eng'],
  'Participants': {'CHI': {'name': 'Target_Child',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '3;08.',
    'sex': 'male',
    'group': '',
    'ses': '',
    'role': 'Target_Child',
    'education': '',
    'custom': ''},
   'INV': {'name': 'Investigator',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '',
    'sex': '',
    'group': '',
    'ses': '',
    'role': 'Investigator',
    'education': '',
    'custom': ''}},
  'Activities': 'puzzles',
  'Types': 'long, toyplay, ASD'},
 {'UTF8': '',
  'PID': '11312/c-00005945-1',
  'Languages': ['eng'],
  'Participants': {'CHI': {'name': 'Target_Child',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '3;11.',
    'sex': 'male',
    'group': '',
    'ses': '',
    'role': 'Target_Child',
    'education': '',
    'custom': ''},
   'INV': {'name': 'Investigator',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '',
    'sex': '',
    'group': '',
    'ses': '',
    'role': 'Investigator',
    'education': '',
    'custom': ''}},
  'Activities': 'book',
  'Types': 'long, toyplay, ASD'},
 {'UTF8': '',
  'PID': '11312/c-00005928-1',
  'Languages': ['eng'],
  'Participants': {'CHI': {'name': 'Target_Child',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '2;06.',
    'sex': 'male',
    'group': '',
    'ses': '',
    'role': 'Target_Child',
    'education': '',
    'custom': ''},
   'INV': {'name': 'Investigator',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '',
    'sex': '',
    'group': '',
    'ses': '',
    'role': 'Investigator',
    'education': '',
    'custom': ''},
   'OTH': {'name': 'Investigator',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '',
    'sex': '',
    'group': '',
    'ses': '',
    'role': 'Investigator',
    'education': '',
    'custom': ''}},
  'Activities': 'trucks',
  'Types': 'long, toyplay, ASD'},
 {'UTF8': '',
  'PID': '11312/c-00005933-1',
  'Languages': ['eng'],
  'Participants': {'CHI': {'name': 'Target_Child',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '2;08.',
    'sex': 'male',
    'group': '',
    'ses': '',
    'role': 'Target_Child',
    'education': '',
    'custom': ''},
   'INV': {'name': 'Investigator',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '',
    'sex': '',
    'group': '',
    'ses': '',
    'role': 'Investigator',
    'education': '',
    'custom': ''}},
  'Activities': 'cookie monster',
  'Types': 'long, toyplay, ASD'},
 {'UTF8': '',
  'PID': '11312/c-00005938-1',
  'Languages': ['eng'],
  'Participants': {'CHI': {'name': 'Target_Child',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '2;10.',
    'sex': 'male',
    'group': '',
    'ses': '',
    'role': 'Target_Child',
    'education': '',
    'custom': ''},
   'INV': {'name': 'Investigator',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '',
    'sex': '',
    'group': '',
    'ses': '',
    'role': 'Investigator',
    'education': '',
    'custom': ''}},
  'Activities': 'horse',
  'Types': 'long, toyplay, ASD'},
 {'UTF8': '',
  'PID': '11312/c-00005943-1',
  'Languages': ['eng'],
  'Participants': {'CHI': {'name': 'Target_Child',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '3;03.',
    'sex': 'male',
    'group': '',
    'ses': '',
    'role': 'Target_Child',
    'education': '',
    'custom': ''},
   'INV': {'name': 'Investigator',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '',
    'sex': '',
    'group': '',
    'ses': '',
    'role': 'Investigator',
    'education': '',
    'custom': ''}},
  'Activities': 'play+doh',
  'Types': 'long, toyplay, ASD'},
 {'UTF8': '',
  'PID': '11312/c-00005929-1',
  'Languages': ['eng'],
  'Participants': {'CHI': {'name': 'Target_Child',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '2;02.',
    'sex': 'male',
    'group': '',
    'ses': '',
    'role': 'Target_Child',
    'education': '',
    'custom': ''},
   'INV': {'name': 'Investigator',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '',
    'sex': '',
    'group': '',
    'ses': '',
    'role': 'Investigator',
    'education': '',
    'custom': ''}},
  'Activities': 'obstacle course',
  'Types': 'long, toyplay, ASD'},
 {'UTF8': '',
  'PID': '11312/c-00005934-1',
  'Languages': ['eng'],
  'Participants': {'CHI': {'name': 'Target_Child',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '2;11.',
    'sex': 'male',
    'group': '',
    'ses': '',
    'role': 'Target_Child',
    'education': '',
    'custom': ''},
   'INV': {'name': 'Investigator',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '',
    'sex': '',
    'group': '',
    'ses': '',
    'role': 'Investigator',
    'education': '',
    'custom': ''},
   'INV2': {'name': 'Camera_Operator',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '',
    'sex': '',
    'group': '',
    'ses': '',
    'role': 'Investigator',
    'education': '',
    'custom': ''}},
  'Activities': 'chalkboard',
  'Types': 'long, toyplay, ASD'},
 {'UTF8': '',
  'PID': '11312/c-00005939-1',
  'Languages': ['eng'],
  'Participants': {'CHI': {'name': 'Target_Child',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '3;02.',
    'sex': 'male',
    'group': '',
    'ses': '',
    'role': 'Target_Child',
    'education': '',
    'custom': ''},
   'INV': {'name': 'Investigator',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '',
    'sex': '',
    'group': '',
    'ses': '',
    'role': 'Investigator',
    'education': '',
    'custom': ''},
   'INV2': {'name': 'Camera_Operator',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '',
    'sex': '',
    'group': '',
    'ses': '',
    'role': 'Investigator',
    'education': '',
    'custom': ''}},
  'Activities': 'balloons',
  'Types': 'long, toyplay, ASD'},
 {'UTF8': '',
  'PID': '11312/c-00005944-1',
  'Languages': ['eng'],
  'Participants': {'CHI': {'name': 'Target_Child',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '3;05.',
    'sex': 'male',
    'group': '',
    'ses': '',
    'role': 'Target_Child',
    'education': '',
    'custom': ''},
   'INV': {'name': 'Investigator',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '',
    'sex': '',
    'group': '',
    'ses': '',
    'role': 'Investigator',
    'education': '',
    'custom': ''},
   'INV2': {'name': 'Camera_Operator',
    'language': 'eng',
    'corpus': 'Rollins',
    'age': '',
    'sex': '',
    'group': '',
    'ses': '',
    'role': 'Investigator',
    'education': '',
    'custom': ''}},
  'Activities': 'walk through Callier',
  'Types': 'long, toyplay, ASD'}]

In [8]:
headers = rollins.headers()
# df = pd.DataFrame(headers)

In [9]:
df1 = pd.json_normalize(headers)

In [10]:
df1.head(5)

,UTF8,PID,Languages,Activities,Types,Participants.CHI.name,Participants.CHI.language,Participants.CHI.corpus,Participants.CHI.age,Participants.CHI.sex,Participants.CHI.group,Participants.CHI.ses,Participants.CHI.role,Participants.CHI.education,Participants.CHI.custom,Participants.INV.name,Participants.INV.language,Participants.INV.corpus,Participants.INV.age,Participants.INV.sex,Participants.INV.group,Participants.INV.ses,Participants.INV.role,Participants.INV.education,Participants.INV.custom,Window,Participants.UID.name,Participants.UID.language,Participants.UID.corpus,Participants.UID.age,Participants.UID.sex,Participants.UID.group,Participants.UID.ses,Participants.UID.role,Participants.UID.education,Participants.UID.custom,Participants.INV2.name,Participants.INV2.language,Participants.INV2.corpus,Participants.INV2.age,Participants.INV2.sex,Participants.INV2.group,Participants.INV2.ses,Participants.INV2.role,Participants.INV2.education,Participants.INV2.custom,Participants.OTH.name,Participants.OTH.language,Participants.OTH.corpus,Participants.OTH.age,Participants.OTH.sex,Participants.OTH.group,Participants.OTH.ses,Participants.OTH.role,Participants.OTH.education,Participants.OTH.custom
0,,11312/c-00005925-1,[eng],washing hands/dry erase board,"long, toyplay, ASD",Target_Child,eng,Rollins,2;08.,male,,,Target_Child,,,Investigator,eng,Rollins,,,,,Investigator,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,,11312/c-00005930-1,[eng],puzzles/books,"long, toyplay, ASD",Target_Child,eng,Rollins,2;11.,male,,,Target_Child,,,Investigator,eng,Rollins,,,,,Investigator,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,,11312/c-00005935-1,[eng],puzzles,"long, toyplay, ASD",Target_Child,eng,Rollins,3;,male,,,Target_Child,,,Investigator,eng,Rollins,,,,,Investigator,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,,11312/c-00005940-1,[eng],books,"long, toyplay, ASD",Target_Child,eng,Rollins,3;07.,male,,,Target_Child,,,Investigator,eng,Rollins,,,,,Investigator,,,85_732_1053_940_-1_-1_47122_0_47122_0,Unidentified,eng,Rollins,,,,,Unidentified,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,,11312/c-00005926-1,[eng],shut out cameraperson,"long, toyplay, ASD",Target_Child,eng,Rollins,2;05.,male,,,Target_Child,,,Investigator,eng,Rollins,,,,,Investigator,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camera_Operator,eng,Rollins,,,,,Investigator,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 56 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   UTF8                         21 non-null     object
 1   PID                          21 non-null     object
 2   Languages                    21 non-null     object
 3   Activities                   21 non-null     object
 4   Types                        21 non-null     object
 5   Participants.CHI.name        21 non-null     object
 6   Participants.CHI.language    21 non-null     object
 7   Participants.CHI.corpus      21 non-null     object
 8   Participants.CHI.age         21 non-null     object
 9   Participants.CHI.sex         21 non-null     object
 10  Participants.CHI.group       21 non-null     object
 11  Participants.CHI.ses         21 non-null     object
 12  Participants.CHI.role        21 non-null     object
 13  Participants.CHI.education   21 non-null     object
 14  Participants.CHI.custom      21 non-null     object
 15  Participants.INV.name        21 non-null     object
 16  Participants.INV.language    21 non-null     object
 17  Participants.INV.corpus      21 non-null     object
 18  Participants.INV.age         21 non-null     object
 19  Participants.INV.sex         21 non-null     object
 20  Participants.INV.group       21 non-null     object
 21  Participants.INV.ses         21 non-null     object
 22  Participants.INV.role        21 non-null     object
 23  Participants.INV.education   21 non-null     object
 24  Participants.INV.custom      21 non-null     object
 25  Window                       1 non-null      object
 26  Participants.UID.name        1 non-null      object
 27  Participants.UID.language    1 non-null      object
 28  Participants.UID.corpus      1 non-null      object
 29  Participants.UID.age         1 non-null      object
 30  Participants.UID.sex         1 non-null      object
 31  Participants.UID.group       1 non-null      object
 32  Participants.UID.ses         1 non-null      object
 33  Participants.UID.role        1 non-null      object
 34  Participants.UID.education   1 non-null      object
 35  Participants.UID.custom      1 non-null      object
 36  Participants.INV2.name       6 non-null      object
 37  Participants.INV2.language   6 non-null      object
 38  Participants.INV2.corpus     6 non-null      object
 39  Participants.INV2.age        6 non-null      object
 40  Participants.INV2.sex        6 non-null      object
 41  Participants.INV2.group      6 non-null      object
 42  Participants.INV2.ses        6 non-null      object
 43  Participants.INV2.role       6 non-null      object
 44  Participants.INV2.education  6 non-null      object
 45  Participants.INV2.custom     6 non-null      object
 46  Participants.OTH.name        1 non-null      object
 47  Participants.OTH.language    1 non-null      object
 48  Participants.OTH.corpus      1 non-null      object
 49  Participants.OTH.age         1 non-null      object
 50  Participants.OTH.sex         1 non-null      object
 51  Participants.OTH.group       1 non-null      object
 52  Participants.OTH.ses         1 non-null      object
 53  Participants.OTH.role        1 non-null      object
 54  Participants.OTH.education   1 non-null      object
 55  Participants.OTH.custom      1 non-null      object
dtypes: object(56)
memory usage: 9.3+ KB

In [12]:
df1.columns.tolist()

['UTF8',
 'PID',
 'Languages',
 'Activities',
 'Types',
 'Participants.CHI.name',
 'Participants.CHI.language',
 'Participants.CHI.corpus',
 'Participants.CHI.age',
 'Participants.CHI.sex',
 'Participants.CHI.group',
 'Participants.CHI.ses',
 'Participants.CHI.role',
 'Participants.CHI.education',
 'Participants.CHI.custom',
 'Participants.INV.name',
 'Participants.INV.language',
 'Participants.INV.corpus',
 'Participants.INV.age',
 'Participants.INV.sex',
 'Participants.INV.group',
 'Participants.INV.ses',
 'Participants.INV.role',
 'Participants.INV.education',
 'Participants.INV.custom',
 'Window',
 'Participants.UID.name',
 'Participants.UID.language',
 'Participants.UID.corpus',
 'Participants.UID.age',
 'Participants.UID.sex',
 'Participants.UID.group',
 'Participants.UID.ses',
 'Participants.UID.role',
 'Participants.UID.education',
 'Participants.UID.custom',
 'Participants.INV2.name',
 'Participants.INV2.language',
 'Participants.INV2.corpus',
 'Participants.INV2.age',
 'Participants.INV2.sex',
 'Participants.INV2.group',
 'Participants.INV2.ses',
 'Participants.INV2.role',
 'Participants.INV2.education',
 'Participants.INV2.custom',
 'Participants.OTH.name',
 'Participants.OTH.language',
 'Participants.OTH.corpus',
 'Participants.OTH.age',
 'Participants.OTH.sex',
 'Participants.OTH.group',
 'Participants.OTH.ses',
 'Participants.OTH.role',
 'Participants.OTH.education',
 'Participants.OTH.custom']

In [13]:
df2 = df1[
    ['Types',
    'Participants.CHI.name',
	'Participants.CHI.language',
	'Participants.CHI.corpus',
	'Participants.CHI.age',
	'Participants.CHI.sex',
	'Participants.CHI.group',
 	'Participants.INV.name',
 	'Participants.INV2.name',]]

In [14]:
df2.head(1)

,Types,Participants.CHI.name,Participants.CHI.language,Participants.CHI.corpus,Participants.CHI.age,Participants.CHI.sex,Participants.CHI.group,Participants.INV.name,Participants.INV2.name
0,"long, toyplay, ASD",Target_Child,eng,Rollins,2;08.,male,,Investigator,NaN

In [15]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Types                      21 non-null     object
 1   Participants.CHI.name      21 non-null     object
 2   Participants.CHI.language  21 non-null     object
 3   Participants.CHI.corpus    21 non-null     object
 4   Participants.CHI.age       21 non-null     object
 5   Participants.CHI.sex       21 non-null     object
 6   Participants.CHI.group     21 non-null     object
 7   Participants.INV.name      21 non-null     object
 8   Participants.INV2.name     6 non-null      object
dtypes: object(9)
memory usage: 1.6+ KB

In [16]:
df2['months'] = (df2['Participants.CHI.age'].str.split('.').str[0])
del(df2['Participants.CHI.age'])
df2[['years', 'months']] = df2['months'].str.split(';', expand=True).iloc[:, :2]
df2['years'] = df2['years'].astype(int)
df2['months'] = pd.to_numeric(df2['months'], errors='coerce').fillna(0).astype(int)
df2['age_months'] = 12 * df2['years'] + df2['months']
del(df2['years'])
del(df2['months'])

In [17]:
df2.head(1)

,Types,Participants.CHI.name,Participants.CHI.language,Participants.CHI.corpus,Participants.CHI.sex,Participants.CHI.group,Participants.INV.name,Participants.INV2.name,age_months
0,"long, toyplay, ASD",Target_Child,eng,Rollins,male,,Investigator,NaN,32

In [18]:
df2.rename(columns=lambda x: x.replace("Participants.CHI.", ""), inplace=True)
df2.rename(columns={
    'Types': 'types', 'custom': 'name', 'sex': 'gender'}, inplace=True)
df2.head(2)

,types,name,language,corpus,gender,group,Participants.INV.name,Participants.INV2.name,age_months
0,"long, toyplay, ASD",Target_Child,eng,Rollins,male,,Investigator,NaN,32
1,"long, toyplay, ASD",Target_Child,eng,Rollins,male,,Investigator,NaN,35

In [19]:
df2['group'] = 'ASD'

In [20]:
def merge_columns(row):
    values = [str(row[col]) for col in df2.columns if col.endswith('.name')]
    values = [value for value in values if value != 'nan']
    return ', '.join(values)

df2['investigator'] = df2.apply(merge_columns, axis=1)
df2.drop(columns=[col for col in df2.columns if col.endswith('.name')], inplace=True)

In [24]:
rol_mlu = rollins.mlu()

In [26]:
df2['mlu'] = rol_mlu

In [27]:
df2.head(10)

,types,name,language,corpus,gender,group,age_months,investigator,mlu
0,"long, toyplay, ASD",Target_Child,eng,Rollins,male,ASD,32,Investigator,1.026667
1,"long, toyplay, ASD",Target_Child,eng,Rollins,male,ASD,35,Investigator,1.790754
2,"long, toyplay, ASD",Target_Child,eng,Rollins,male,ASD,36,Investigator,1.727273
3,"long, toyplay, ASD",Target_Child,eng,Rollins,male,ASD,43,Investigator,2.911458
4,"long, toyplay, ASD",Target_Child,eng,Rollins,male,ASD,29,"Investigator, Camera_Operator",1.000000
5,"long, toyplay, ASD",James,eng,Rollins,male,ASD,32,Investigator,1.075893
6,"long, toyplay, ASD",Target_Child,eng,Rollins,male,ASD,35,Investigator,1.405172
7,"long, toyplay, ASD",Target_Child,eng,Rollins,male,ASD,37,Investigator,1.421053
8,"long, toyplay, ASD",Target_Child,eng,Rollins,male,ASD,37,"Investigator, Camera_Operator",1.092896
9,"long, toyplay, ASD",Target_Child,eng,Rollins,male,ASD,39,"Investigator, Camera_Operator",1.121457

In [28]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   types         21 non-null     object
 1   name          21 non-null     object
 2   language      21 non-null     object
 3   corpus        21 non-null     object
 4   gender        21 non-null     object
 5   group         21 non-null     object
 6   age_months    21 non-null     int32
 7   investigator  21 non-null     object
 8   mlu           21 non-null     float64
dtypes: float64(1), int32(1), object(7)
memory usage: 1.5+ KB

In [29]:
df2.columns

Index(['types', 'name', 'language', 'corpus', 'gender', 'group', 'age_months',
       'investigator', 'mlu'],
      dtype='object')

In [30]:
columns = ['name', 'age_months', 'gender', 'group', 'types', 'corpus', 'investigator', 'mlu']
df2 = df2[columns]
df2

,name,age_months,gender,group,types,corpus,investigator,mlu
0,Target_Child,32,male,ASD,"long, toyplay, ASD",Rollins,Investigator,1.026667
1,Target_Child,35,male,ASD,"long, toyplay, ASD",Rollins,Investigator,1.790754
2,Target_Child,36,male,ASD,"long, toyplay, ASD",Rollins,Investigator,1.727273
3,Target_Child,43,male,ASD,"long, toyplay, ASD",Rollins,Investigator,2.911458
4,Target_Child,29,male,ASD,"long, toyplay, ASD",Rollins,"Investigator, Camera_Operator",1.000000
5,James,32,male,ASD,"long, toyplay, ASD",Rollins,Investigator,1.075893
6,Target_Child,35,male,ASD,"long, toyplay, ASD",Rollins,Investigator,1.405172
7,Target_Child,37,male,ASD,"long, toyplay, ASD",Rollins,Investigator,1.421053
8,Target_Child,37,male,ASD,"long, toyplay, ASD",Rollins,"Investigator, Camera_Operator",1.092896
9,Target_Child,39,male,ASD,"long, toyplay, ASD",Rollins,"Investigator, Camera_Operator",1.121457
10,Target_Child,42,male,ASD,"long, toyplay, ASD",Rollins,Investigator,1.370833
11,Target_Child,44,male,ASD,"long, toyplay, ASD",Rollins,Investigator,1.567164
12,Target_Child,47,male,ASD,"long, toyplay, ASD",Rollins,Investigator,1.580311
13,Target_Child,30,male,ASD,"long, toyplay, ASD",Rollins,Investigator,1.113725
14,Target_Child,32,male,ASD,"long, toyplay, ASD",Rollins,Investigator,1.229508
15,Target_Child,34,male,ASD,"long, toyplay, ASD",Rollins,Investigator,1.048951
16,Target_Child,39,male,ASD,"long, toyplay, ASD",Rollins,Investigator,1.265823
17,Target_Child,26,male,ASD,"long, toyplay, ASD",Rollins,Investigator,1.000000
18,Target_Child,35,male,ASD,"long, toyplay, ASD",Rollins,"Investigator, Camera_Operator",1.005618
19,Target_Child,38,male,ASD,"long, toyplay, ASD",Rollins,"Investigator, Camera_Operator",1.012397
20,Target_Child,41,male,ASD,"long, toyplay, ASD",Rollins,"Investigator, Camera_Operator",1.644231

In [32]:
df2['group'].value_counts()

ASD    21
Name: group, dtype: int64

In [36]:
file_path = '../../../data/talkbank/chat_files/rollins/'
files = []
for filename in os.listdir(file_path):
    if os.path.isfile(os.path.join(file_path, filename)):
        files.append(os.path.join(file_path, filename))

In [98]:
df3 = pd.DataFrame(columns=['filename','all_chat'])
df4 = pd.DataFrame(columns=['filename','all_chat'])

for file in files:
    all = [] #all is used to store the concatenated speech data
    chi = []
    df = pd.read_csv(file) #reading the csv file and storing it in a dataframe
    # if df[df['participant'] == 'CHI']:
    all = ' '.join(df['sentence'].astype(str)) # concatenate the entire speech column into one single string
    temp_df = pd.DataFrame({'filename': [file.split('.')[6][35:]],'all_chat' : [all]}) # storing the result in another dataframe temporarily
    chi = ' '.join(df[df['participant'] == 'CHI']['sentence'].astype(str)) # concatenate the entire speech column into one single string
    temp_chi = pd.DataFrame({'filename': [file.split('.')[6][35:]],'child' : [chi]}) # storing the result in another dataframe temporarily
    df3 = pd.concat([df3, temp_df]) # concatenating the temporary dataframe with our initialised result dataframe
    df4 = pd.concat([df4, temp_chi])
    df3['child'] = df4['child']
df3.index = range(len(df3))

In [99]:
df3.head()

,filename,all_chat,child
0,20200,xxx . [+ trn] you want the toy ? 0 . [+ trn] n...,xxx . [+ trn] 0 . [+ trn] xxx . [+ trn] 0 . [+...
1,20500,here's the hole . 0 . here's the hole . yyy [=...,0 . yyy [= jargon] . xxx . [+ trn] 0 . yyy [= ...
2,20600,0 . [+ trn] xxx . 0 . [+ trn] up here ? 0 . [+...,0 . [+ trn] xxx . 0 . [+ trn] 0 . [+ trn] 0 . ...
3,20800,xxx . &=gasp . [+ trn] it's a farm . xxx . it'...,xxx . xxx . xxx . 0 . xxx . 0 . 0 . 0 . 0 . 0 ...
4,20800_1,&=gasp . [+ trn] 0 . that's right . &-uh . clo...,0 . 0 . yyy . 0 . yyy . yyy . yyy . yyy yyy . ...

In [100]:
df2[['filename', 'all_chat', 'child_chat']] = df3[['filename', 'all_chat', 'child']]

In [101]:
df2.head()

,name,age_months,gender,group,types,corpus,investigator,mlu,filename,all_chat,child_chat
0,Target_Child,32,male,ASD,"long, toyplay, ASD",Rollins,Investigator,1.026667,20200,xxx . [+ trn] you want the toy ? 0 . [+ trn] n...,xxx . [+ trn] 0 . [+ trn] xxx . [+ trn] 0 . [+...
1,Target_Child,35,male,ASD,"long, toyplay, ASD",Rollins,Investigator,1.790754,20500,here's the hole . 0 . here's the hole . yyy [=...,0 . yyy [= jargon] . xxx . [+ trn] 0 . yyy [= ...
2,Target_Child,36,male,ASD,"long, toyplay, ASD",Rollins,Investigator,1.727273,20600,0 . [+ trn] xxx . 0 . [+ trn] up here ? 0 . [+...,0 . [+ trn] xxx . 0 . [+ trn] 0 . [+ trn] 0 . ...
3,Target_Child,43,male,ASD,"long, toyplay, ASD",Rollins,Investigator,2.911458,20800,xxx . &=gasp . [+ trn] it's a farm . xxx . it'...,xxx . xxx . xxx . 0 . xxx . 0 . 0 . 0 . 0 . 0 ...
4,Target_Child,29,male,ASD,"long, toyplay, ASD",Rollins,"Investigator, Camera_Operator",1.000000,20800_1,&=gasp . [+ trn] 0 . that's right . &-uh . clo...,0 . 0 . yyy . 0 . yyy . yyy . yyy . yyy yyy . ...

In [103]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          21 non-null     object
 1   age_months    21 non-null     int32
 2   gender        21 non-null     object
 3   group         21 non-null     object
 4   types         21 non-null     object
 5   corpus        21 non-null     object
 6   investigator  21 non-null     object
 7   mlu           21 non-null     float64
 8   filename      21 non-null     object
 9   all_chat      21 non-null     object
 10  child_chat    21 non-null     object
dtypes: float64(1), int32(1), object(9)
memory usage: 1.8+ KB

In [104]:
df2.to_csv('../../../data/talkbank/9_0_rollins_full.csv', index=False)